<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Cont trend:</strong>
  <%= @article.cont_trend %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @article.topic_id %>
</p>

<%= link_to 'Edit' %> |
<%= link_to 'Back' %>

