
    <h1>Hola <%= @diner.name %></h1>

    <p>Uno de tus restaurantes favoritos (<%= @promo.restaurant.name %>) ha modificado una de sus promociones:</p>

    <p>Nombre de la promoci칩n: <%= @promo.name %></p>
    <p>Tipo de promoci칩n: <%= @promo.promo_type %></p>
    <p>Descripci칩n: <%= @promo.description %></p>

    <p>Puedes saber m치s de esta promo haciendo click en el siguiente link:</p>

    <%= link_to 'Ver detalles de la promo', restaurant_url(@promo.restaurant) %>