<section class="content-header">
      <h1>
        Administrar promociones
      </h1>
</section>

<section class="content">
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Promociones</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
      <%= link_to 'Nueva promocion', new_restaurante_promo_path, :class => 'btn btn-success' %>
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Yumis</th>
            <th>Tipo de promocion</th>
            <th>Nombre</th>
            <th>Descripcion</th>
          </tr>
          </thead>
          <tbody>
            <% @promos.each do |promo| %>
              <tr>
                <td><% if promo.yumis %>
                  <%= 'Si' %>
                  <% else %>
                  <%= 'No' %>
                  <% end %></td>
                <td><%= promo.promo_type %></td>
                <td><%= promo.name %></td>
                <td><%= promo.description %></td>
                <td><%= link_to 'Editar', edit_restaurante_promo_path(promo), :class => 'btn btn-warning' %></td>
                <td><%= link_to 'Eliminar', restaurante_promo_path(promo), method: :delete, data: { confirm: 'Estas seguro que desea eliminar la promocion?' }, :class => 'btn btn-danger'%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Nueva promocion', new_restaurante_promo_path, :class => 'btn btn-success' %>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
