<p id="notice"><%= notice %></p>

<h1>Diners</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diners.each do |diner| %>
      <tr>
        <td><%= link_to 'Show', [:comensal, diner] %></td>
        <td><%= link_to 'Edit', edit_comensal_diner_path(diner) %></td>
        <td><%= link_to 'Destroy', [:comensal, diner], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diner', new_comensal_diner_path %>
